<div class="row">
  <div class="col-lg-10">
    <h1 class="robot-page-header">Dashboards</h1>
  </div>
  <div class="col-lg-2">
    <timepicker-panel></timepicker-panel>
  </div>
</div>

<!-- Networkmap -->
<!-- <div class="row">
  <div class="col-lg-12">
    <networkmap-panel service="Facebook" attr="http_succ_rate" width="960" height="700"></networkmap-panel>
  </div>
</div> -->

<!-- Regionmap -->
<!-- <div class="row">
  <div class="col-lg-4">
    <regionmap-panel service="Facebook" region="North" attr="http_succ_rate" width="480" height="280"></regionmap-panel>
  </div>
  <div class="col-lg-4">
    <regionmap-panel service="Facebook" region="Central" attr="http_succ_rate" width="480" height="280"></regionmap-panel>
  </div>
  <div class="col-lg-4">
    <regionmap-panel service="Facebook" region="Northeast" attr="http_succ_rate" width="480" height="280"></regionmap-panel>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <regionmap-panel service="Facebook" region="Bangkok" attr="http_succ_rate" width="480" height="280"></regionmap-panel>
  </div>
  <div class="col-lg-4">
    <regionmap-panel service="Facebook" region="South" attr="http_succ_rate" width="480" height="280"></regionmap-panel>
  </div>
  <div class="col-lg-4">
    <regionmap-panel service="Facebook" region="East" attr="http_succ_rate" width="480" height="280"></regionmap-panel>
  </div>
</div> -->


<!-- Line Graph --> 

<div class="row">
  <div class="col-lg-12">
    <linechart-panel service="Facebook"  attr="http_succ_rate" width="480" height="250"></linechart-panel>
    <!-- <linechart-panel service="Facebook" attr="http_succ_rate" stack="region" width="480" height="250"></linechart-panel>
    <linechart-panel service="Facebook" attr="http_succ_rate" stack="sgsn_name" width="480" height="250"></linechart-panel> -->
  </div>
</div>