<div class="robot-regionmap-wrapper">  
  <h4>{{ service }} <i id="robot-spinner" class="fa fa-spinner fa-spin"></i></h4>
  <h5>{{ name }} - <i class="robot-description-text">{{ description }}</i></h5>
  <p>From <i class="robot-date-time-text">{{ filters.time.from.date | date:'medium' }}</i> <i class="fa fa-angle-double-right"></i> To <i class="robot-date-time-text">{{ filters.time.to.date | date:'medium' }}</i></p>

  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
      {{ region || "Thailand" }}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="region = null;">Thailand</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="region = 'Bangkok';">Bangkok</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="region = 'North';">North</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="region = 'Northeast';">Northeast</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="region = 'Central';">Central</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="region = 'East';">East</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="region = 'South';">South</a></li>
    </ul>
  </div>

  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="viz center-block"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="viz-radial radial center-block"></div>  
    </div>
  </div>
  
</div>