<div class="robot-linechart-wrapper">  

  <h4>{{ service }} <i id="robot-spinner" class="fa fa-spinner fa-spin"></i></h4>
  <h5>{{ name }} - <i class="robot-description-text">{{ description }}</i></h5>
  <p>From <i class="robot-date-time-text">{{ filters.time.from.date | date:'medium' }}</i> <i class="fa fa-angle-double-right"></i> To <i class="robot-date-time-text">{{ filters.time.to.date | date:'medium' }}</i></p>
  
  <!-- Sites -->
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Site: {{ site || "All" }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li ng-repeat="item in panel.site_options track by $index" ng-click="setSiteFilter(item)">
        <a>{{ item }}</a>
      </li>
    </ul>
  </div>

  <!-- APN && GGSN -->
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      GGSN: {{ apn || "All" }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li ng-repeat="item in panel.apn_options track by $index" ng-click="setApnFilter(item)">
        <a>{{ item }}</a>
      </li>
    </ul>
  </div>

  <!-- Regions -->
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Region: {{ region || "All" }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li ng-repeat="item in panel.region_options track by $index" ng-click="setRegionFilter(item)">
        <a>{{ item }}</a>
      </li>
    </ul>
  </div>

  <!-- Regions -->
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      SGSN: {{ sgsn || "All" }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <!-- time options -->
      <li ng-repeat="item in panel.sgsn_options track by $index" ng-click="setSgsnFilter(item)">
        <a>{{ item }}</a>
      </li>
    </ul>
  </div>

  <!-- Separate RCN check box -->
<!--   <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Stack: {{ stack || "None" }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li ng-repeat="item in panel.stack_options track by $index" ng-click="setStackFilter(item.value)">
        <a>{{ item.key }}</a>
      </li>
    </ul>
  </div> -->


  <div class="viz"></div>
  
</div>