<div class="robot-timepicker-wrapper" ng-init="initialize()">
  <div class="panel-group" id="robotTimpickerAccordion">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h1 class="panel-title">
          <a data-toggle="collapse" data-parent="#robotTimpickerAccordion" href="#collapseTimepicker">
            {{ timepick }}
          </a>
        </h1>
      </div>
      <div id="collapseTimepicker" class="panel-collapse collapse">
        <div class="panel-body">
          <ul class="list-unstyled">
            <li class="robot-info-time">Selected: {{ timepick }}</li>
            <li class="robot-info-time">Refresh: {{ interval }}</li>
            <li class="robot-info-time">Start: {{ timestart | date:'medium' }}</li>
            <li class="robot-info-time">Stop: {{ timestop | date:'medium' }}</li>
          </ul>

          <!-- Realtime options -->
          <div>Time: </div>
          <ul>
            <li class="time-option" 
            ng-class="{highlight: hover}"
            ng-repeat="option in realtimeOptions" 
            ng-click="changeRelativeTimepick(option)"
            ng-mouseenter="hover = true"
            ng-mouseleave="hover = false">{{ option.name }}</li>
          </ul>
          <!-- Refresh Intervals -->
          <div>Refresh: </div>
          <ul>
            <li class="time-option" 
            ng-class="{highlight: hover}"
            ng-repeat="option in refreshIntervals" 
            ng-click="changeInterval(option)"
            ng-mouseenter="hover = true"
            ng-mouseleave="hover = false">Every {{ option }}</li>
          </ul>
          <span>
            <button type="button" class="btn btn-primary" ng-click="submitRequest()">OK</button>
            <button type="button" class="btn btn-danger" ng-click="hideAccordion()">Cancel</button>
          </span>
        </div>
      </div>
      
    </div>
    <!-- <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            Custom Time
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li class="time-option" 
            ng-class="{highlight: hover}"
            ng-repeat="option in abstimeOptions" 
            ng-click="changeAbsTimepick(option)"
            ng-mouseenter="hover = true"
            ng-mouseleave="hover = false">{{ option }}</li>
          </ul>
        </div>
      </div>
    </div> -->
  </div>

  
</div>