<div class="robot-timepicker-wrapper" ng-init="initialize()">
  <div class="panel-group" id="robotTimpickerAccordion">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h1 class="panel-title">
          <a data-toggle="collapse" data-parent="#robotTimpickerAccordion" href="#collapseTimepicker">
            {{ timepick }}
          </a>
        </h1>
      </div>
      <div id="collapseTimepicker" class="panel-collapse collapse">
        <div class="panel-body">
          <ul class="list-unstyled">
            <li class="robot-info-time">Selected: {{ timepick }}</li>
            <li class="robot-info-time">Refresh: {{ interval }}</li>
            <li class="robot-info-time">Start: {{ timestart | date:'medium' }}</li>
            <li class="robot-info-time">Stop: {{ timestop | date:'medium' }}</li>
          </ul>

          <!-- Realtime options -->
          <div>Time: </div>
          <ul>
            <li class="time-option" 
            ng-class="{highlight: hover}"
            ng-repeat="option in realtimeOptions" 
            ng-click="changeRelativeTimepick(option)"
            ng-mouseenter="hover = true"
            ng-mouseleave="hover = false">{{ option.name }}</li>
          </ul>

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#customTimePicker">
            Custom time
          </button>
          <div class="modal fade" id="customTimePicker" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="myModalLabel">Custom start and stop time</h4>
                </div>
                <div class="modal-body">
                  <p>From:</p> 
                  <div class="row">
                    <div class="col-lg-12">
                      <select ng-model="from.date" ng-options="date for date in date_options"></select>
                      <select ng-model="from.month" ng-options="month.name for month in month_options"></select>
                      <select ng-model="from.year" ng-options="year for year in year_options"></select>
                      <select ng-model="from.hour" ng-options="i for i in hour_options"></select>
                      <select ng-model="from.minute" ng-options="i for i in minute_options"></select>
                      <select ng-model="from.second" ng-options="i for i in second_options"></select>
                    </div>
                  </div>
                  <p>To:</p>
                  <div class="row">
                    <div class="col-lg-12">
                      <select ng-model="to.date" ng-options="date for date in date_options"></select>
                      <select ng-model="to.month" ng-options="month.name for month in month_options"></select>
                      <select ng-model="to.year" ng-options="year for year in year_options"></select>
                      <select ng-model="to.hour" ng-options="i for i in hour_options"></select>
                      <select ng-model="to.minute" ng-options="i for i in minute_options"></select>
                      <select ng-model="to.second" ng-options="i for i in second_options"></select>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" ng-click="changeCustomTime()">Save changes</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Refresh Intervals -->
          <div>Refresh: </div>
          <ul>
            <li class="time-option" 
            ng-class="{highlight: hover}"
            ng-repeat="option in refreshIntervals" 
            ng-click="changeInterval(option)"
            ng-mouseenter="hover = true"
            ng-mouseleave="hover = false">Every {{ option }}</li>
          </ul>
          <span>
            <button type="button" class="btn btn-primary" ng-click="submitRequest()">OK</button>
            <button type="button" class="btn btn-danger" ng-click="hideAccordion()">Cancel</button>
          </span>
        </div>
      </div>
      
    </div>
    <!-- <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            Custom Time
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li class="time-option" 
            ng-class="{highlight: hover}"
            ng-repeat="option in abstimeOptions" 
            ng-click="changeAbsTimepick(option)"
            ng-mouseenter="hover = true"
            ng-mouseleave="hover = false">{{ option }}</li>
          </ul>
        </div>
      </div>
    </div> -->
  </div>

  
</div>