/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require metis-menu
 *= require radial-progress
 *= require bootstrap-multiselect
 *= require_tree .
 */

// Custom SASS variables
// $grid-columns: 16;
// $grid-gutter-width: 20px;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.main {
  background-color: #fff;
}

.robot-action-icon {
  padding-left: 5px;
  padding-right: 5px;
}

.highlight {
  background-color: yellow;
}
.robot-timepicker-wrapper {
  // margin-top: 25px;
  position: absolute;
  right: 20px;
  min-width: 200px;
}
.robot-info-time {
  font-size: 11px;
  /*font-style: italic;*/
}

.robot-date-time-text {
  color: darken(#428bca, 6.5%);
}

.robot-description-text {

}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.hover-line { 
  stroke: #E6E7E8;
  fill: none;
  stroke-width: 1px;
  left: 10px;
  shape-rendering: crispEdges;
  opacity: 1e-6;
}

.legend-box {
  cursor: pointer;  
}

.tooltip {
  /*fill: #000000;*/
  /*stroke-width: 3px;*/
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  fill: blue;
  shape-rendering: crispEdges;
}
.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.tick text{
  font-size: 12px;
}

.tick line{
  opacity: 0.2;
}


.threshold-line {
  fill: red;
}







