// Place all the styles related to the Metrics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.viz-text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

.dot {
  fill: #ddd;
  stroke: black;
  stroke-width: 1px;
}

.dot.below-threshold {
  fill: red;
  stroke: red;
}

rect.bordered {
  stroke: #E6E6E6;
  stroke-width:2px;   
}

text.mono {
  font-size: 9pt;
  font-family: Consolas, courier;
  fill: #aaa;
}

text.axis-workweek {
  fill: #000;
}

text.axis-worktime {
  fill: #000;
}

.threshold-line {
  stroke: #ccc;
  stroke-width: 1px;
}


// .node {
//   stroke: #fff;
//   stroke-width: 1.5px;
// }

// .link {
//   stroke: #999;
//   stroke-opacity: .6;
// }

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

// .dropped-link {
//   stroke: "red";
//   stroke-width: 5;
// }

.link:hover {
  stroke-opacity: .5;
}

.subunit {
  stroke: #000;
  stroke-opacity: .5;
}

.north {
  // stroke: #006837;
}

// .province-south {
//   fill:rgb(166,189,219);
// }

.viz-radial {
  background: #ffffff;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
}

// .radial {
//   border-radius: 3px;
//   background: #FFFFFF;
//   color: #000;
//   fill: white;
// }

.arc {
  stroke-weight: 0.1;
  fill: #f0a417;
}

.arc2 {
  stroke-weight: 0.1;
  fill: #b00d08;
}





